<!doctype html>
<html lang="en">
  <head>
    <title>Life Fitness Activities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="<%= asset_path('fitnezz_css/bootstrap.css') %>">
    <link rel="stylesheet" href="<%= asset_path('fitnezz_css/animate.css') %>">
    <link rel="stylesheet" href="<%= asset_path('fitnezz_css/owl.carousel.min.css') %>">

    <link rel="stylesheet" href="<%= asset_path('fitnezz_css/magnific-popup.css') %>">


    <link rel="stylesheet" href="<%= asset_path('fitnezz_css/fonts/ionicons/css/ionicons.min.css') %>">
    <link rel="stylesheet" href="<%= asset_path('fitnezz_css/fonts/fontawesome/css/font-awesome.min.css') %>">

    <!-- Theme Style -->
    <link rel="stylesheet" href="<%= asset_path('fitnezz_css/style.css') %>">
  </head>
  <body>
    

    <%= yield %>

    <!-- FOOTER -->
    <%= render partial: 'welcomes/footer_section' %>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="<%= asset_path('fitnezz_js/jquery-3.2.1.min.js') %>"></script>
    <script src="<%= asset_path('fitnezz_js/popper.min.js') %>"></script>
    <script src="<%= asset_path('fitnezz_js/bootstrap.min.js') %>"></script>
    <script src="<%= asset_path('fitnezz_js/owl.carousel.min.js') %>"></script>
    <script src="<%= asset_path('fitnezz_js/jquery.waypoints.min.js') %>"></script>

    <script src="<%= asset_path('fitnezz_js/jquery.magnific-popup.min.js') %>"></script>
    <script src="<%= asset_path('fitnezz_js/magnific-popup-options.js') %>"></script>
    

    <script src="<%= asset_path('fitnezz_js/main.js') %>"></script>
  </body>
</html>