<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url('<%= asset_path('fitnezz_css/img/1.jpg') %>');">
    
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 element-animate">
          <h1>Health is wealth</h1>
          <p class="mb-5">At Fitness Fortress, we believe your wealth is your health and for that reason, you alwasy need to keep your wealth increasing by exercising each day. Create a health-wealth now!</p>
          <p><a href="<%= new_user_registration_path %>" class="btn btn-white btn-outline-white">Get Started</a> <a href="<%= new_user_session_path %>" class="btn btn-link btn-white">Login</a></p>
        </div>
      </div>
    </div>

  </div>

  <div class="slider-item" style="background-image: url('<%= asset_path('fitnezz_css/img/2.jpg') %>');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 element-animate">
          <h1>Join <span>Fitnezz Fortress</span> Today</h1>
          <p class="mb-5">By joining our club today, you have not only subscribed to a Fitness Club alone but have also join a health exercise team that make sure you are always fit by doing a work-out practice each day and recording them for future access.</p>
          <p><a href="<%= new_user_registration_path %>" class="btn btn-white btn-outline-white">Get Started</a> <a href="<%= new_user_session_path %>" class="btn btn-link btn-white">Login</a></p>
        </div>
      </div>
  </div>
    
  </div>

</section>
<!-- END slider -->