<p id="notice"><%= notice %></p>

<style type="text/css">
  .red-color {
    color: red;
  }

  .green-color {
    color: #013334;
  }  

  .orang-color {
    color: #ff6600;
  }
  .img-small {
    max-height: 30px;
    border-radius: 5px;
  }

</style>

<div class="col-md-12">
  <div>
    <p>
      <%= link_to 'New Activity', new_activity_path, class: 'btn btn-success'%>
    </p>
  </div>

  <div class="table-responsive">
      <table class="table table-hover table-warning mb30">
          <thead>
            <tr>
              <th>Activity Name</th>
              <!-- <th>Description</th> -->
              <th>Min Duration</th>
              <th>Max Duration</th>
              <th>Avatar</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>

            <% @activities.each do |activity| %>
              
              <tr id="row-summary">
                <td><%= link_to activity.activity_name.titleize, activity %>
                </td>
                <!-- <td><%#= activity.activity_description %></td> -->
                <td><%= activity.activity_min_duration.to_datetime.strftime('%I:%M:%S').to_s %></td>
                <td><%= activity.activity_max_duration.to_datetime.strftime('%I:%M:%S') %></td>
                <td><img src="<%= activity.activity_avatar %>" class="img-small img-online"></td>

                <td class="table-action">
                  <a href="<%= activity_url(activity) %>" title="" class="tooltips" data-original-title="Show" ><i class="fa fa-eye orang-color"></i></a>&nbsp;&nbsp;|&nbsp;
                  <a href="<%= edit_activity_path(activity) %>" data-toggle="tooltip" title="" class="tooltips" data-original-title="Edit"><i class="fa fa-pencil green-color"></i></a>&nbsp;&nbsp;|&nbsp;
                  <a href="/activities/<%= activity.id %>" data-toggle="tooltip" title="" class="delete-row tooltips" method="delete" data-confirm="Are you sure you want to Delete <%= activity.activity_name.upcase %> activity from the records?" rel="nofollow"><i class="fa fa-trash-o red-color"></i></a>
                </td>
              </tr>
              

            <% end %>

          </tbody>
      </table>
  </div><!-- table-responsive -->
</div>
